.description {
  padding-bottom: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  position: relative;
  top: -15rem;

  @media (max-width: 767px) {
    padding: 2rem;
  }
}

.description__link {
  color: $lorem-red;
}
