.gallery {
  position: relative;
  top: -15rem;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 4rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.gallery__image {
  border: 0;

  position: relative;
  cursor: pointer;
  padding: 0;

  &:hover .gallery__overlay {
    opacity: 0.8;
  }

  &:hover .gallery__overlay-text {
    opacity: 1;
  }
}

.gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $lorem-red;
}

.gallery__overlay-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.gallery__overlay-title {
  color: white;
  font-size: 3rem;

  @media (max-width: 1400px) {
    font-size: 2rem;
  }
}

.load-more {
  margin: 5rem 0rem;
  text-align: center;
}
