.header {
  margin-top: 3rem;
  padding-right: 3rem;
  position: relative;

  @media screen and (max-width: 767px) {
    padding-bottom: 2rem;
  }
}

.header__language {
  display: flex;
  justify-content: end;
  margin-bottom: 7.5rem;

  @media screen and (max-width: 767px) {
    margin-bottom: 3.5rem;
    padding-right: rem;
  }
}

.header__input {
  display: flex;
  margin: 0;
}

.header__logo {
  border: 2px solid $lorem-light-gray;
  left: 4rem;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 1;

  @media screen and (max-width: 767px) {
    left: 3rem;
    top: 50%;
    width: 120px;
  }
}
