.introduction {
  background-color: $lorem-light-gray;
  padding: 14rem 6rem 23rem 6rem;

  @media (max-width: 767px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.txt-accent {
  font-weight: 700;
}

.row {
  border: 1px solid blue;
}
