.more-info {
  background-color: $lorem-light-gray;
  padding-bottom: 6.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  position: relative;
  top: -15rem;

  @media (max-width: 767px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
