.navigation {
  display: flex;
  justify-content: end;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 2.2rem;
    align-items: flex-end;
    // border: 1px solid red;
    // transition: 0.7s;
    // z-index: 100;
  }
}

.navigation__list {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  font-family: "OpenSans";
  font-size: 1.6rem;
  font-weight: 700;
  height: 0;
  justify-content: end;
  list-style: none;
  margin: 0;
  
  @media (max-width: 767px) {
    display: none;
    font-size: 1.3rem;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #fff;
      height: auto;
      left: 0;
      padding-bottom: 2rem;
      padding-top: 6rem;
      position: absolute;
      top: 13rem;
      width: 100%;
    }
  }
}

.navigation__link {
  display: block;
  padding-bottom: 1.3rem;
  text-decoration: none;
  color: $lorem-dark-gray;
  cursor: pointer;
  margin: 0;

  &:hover,
  &[aria-current="page"] {
    text-decoration: underline 4px solid $lorem-blue;
    text-underline-offset: 1.5rem;
    color: $lorem-blue;

    @media (max-width: 767px) {
      text-underline-offset: 1rem;
    }
  }
}

.navigation__hamburger {
  border: none;
  background-color: transparent;
  display: none;
  cursor: pointer;

  @media (max-width: 767px) {
    display: block;
  }

  &.active .navigation__bar:nth-child(2) {
    opacity: 0;
  }
  &.active .navigation__bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  &.active .navigation__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.navigation__bar {
  background-color: $lorem-dark-gray;
  display: block;
  height: 2px;
  margin: 5px auto;
  // transition: all 0.3s ease-in-out;
  width: 24px;
}

.navigation__text {
  font-size: 1rem;
  font-family: "OpenSans";
}
