.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "OpenSans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

.btn--small {
  padding: 1rem 1rem;
}

.btn--large {
  background-color: $lorem-blue;
  box-shadow: 4px 4px $lorem-medium-gray;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $lorem-lighter-blue;
  }
}

.btn--close {
  color: #fff;
  border: 1px solid #fff;
  padding: 0 1rem;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn--active {
  background-color: $lorem-blue;
  color: white;
  font-weight: 700;
}
