.ribbon {
  max-width: 15rem;
  background-color: $lorem-blue;
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  transform: skewY(-8deg);
  border: 1px solid $lorem-blue;

  @media (max-width: 576px) {
    bottom: 2.5rem;
    right: 1.5rem;
  }
}

.ribbon__bottom {
  position: absolute;
  border-top: 7px solid transparent;
  border-right: 57px solid $lorem-blue;
  border-bottom: 11px solid transparent;
  transform: rotate(10deg);

  @media (max-width: 576px) {
    border-top: 5px solid transparent;
    border-right: 30px solid $lorem-blue;
    border-bottom: 5px solid transparent;
  }
}

.ribbon__title,
.ribbon__price {
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.ribbon__title {
  padding-left: 0.5rem;
  font-size: 1rem;
  padding-bottom: 0;
  font-family: "OpenSans";
  display: block;
  margin-bottom: -1rem;

  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.ribbon__price {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  // padding-bottom: 1rem;
  padding-top: 0;
  color: white;
  font-size: 3rem;
  font-family: "OpenSans";
  font-weight: 700;

  @media (max-width: 576px) {
    font-size: 1.6rem;
    padding-bottom: 0;
  }
}
