@font-face {
  font-family: "OpenSans";
  src: url(../../assets/fonts/OpenSans300.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url(../../assets/fonts/OpenSans700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../assets/fonts/Raleway200.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../assets/fonts/Raleway400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../assets/fonts/Raleway700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

p,
h1,
h2,
a {
  color: $lorem-dark-gray;
}

p {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 25px;
  margin-bottom: 3rem;
}

h1 {
  font-size: 4rem;
  line-height: 44px;

  @media (max-width: 767px) {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 2rem;
}

.text-bold {
  color: $lorem-dark-gray;
  font-weight: 700;
}
